:root {
  --vosc: #674ab3;
  --vmedio: #a348a6;
  --violeta: #9f63c4;
  --vcla: #9075d8;
  --vrosa: #cea2d7;
  --orcuro: #333;
  --blanco: #fff;
  --violeta: #9502ffcc;
  --fuxia: #bb017acc;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-image: linear-gradient(var(--violeta), var(--fuxia));
  /* background-color: var(--vosc); */
  color: var(--blanco);
  padding: 20px;
  margin-top: 10%;
}

.footer-section {
  flex: 1;
  margin: 10px;
}

.footer-section h3 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section li {
  margin-bottom: 5px;
}

.footer-section a {
  color: var(--blanco);
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}
